<section class="content-header">
    <h1>{{vm.form_title}}
        <!-- <small>Module description here</small> -->
    </h1>
    <ol class="breadcrumb">
        <li>
            <a ui-sref="app.landing">
                <i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li>
            <a ui-sref="app.openincident">Incident Lists</a>
        </li>
        <li class="active">{{vm.form_title}}</li>
    </ol>
</section>
<section class="content">

    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="box box-primary">

                <div class="box-header">
                    <h3 class="box-title">{{vm.form_subTitle}}</h3>
                </div>
                <div class="stepwizard col-md-offset-3 ">
                    <div class="stepwizard-row setup-panel">
                        <div class="stepwizard-step">
                            <a type="button" class="btn btn-primary btn-circle" ng-click="vm.eventStepOne()">1</a>
                        </div>
                        <div class="stepwizard-step">
                            <a ng-if="!(vm.disableButtonStepTwo)"  type="button" ng-class="vm.classElemetStepTwo" ng-click="vm.eventStepTwo()">2</a>
                            <a ng-if="vm.disableButtonStepTwo" type="button" ng-class="vm.classElemetStepTwo" ng-disabled="vm.disableButtonStepTwo">2</a>
                        </div>
                    </div>

                </div>
                <div class="box-header with-border"></div>
                <form class="form-horizontal" name="frmIssue" novalidate>
                    <div class="box-body">
                        <div ng-show="vm.showAlert" class="box box-info">
                            <div ng-if="vm.alerts" class="box-header with-border">
                                <h3 class="box-title">Info Message</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>

                            <div ng-if="vm.alerts" class="box-body alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
                                <h4>{{alert.title}}</h4>
                                <p>{{alert.msg}}</p>
                            </div>

                        </div>

                        <div ng-show="vm.stepOne">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Raise Date</label>
                                <div class="col-sm-5">
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions"
                                            ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open1()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Raise By</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" ng-model="selectedReporter" ng-options="reporter as reporter.name for reporter in reporters track by reporter.value"
                                    />
                                </div>
                                <!-- <div>{{selectedReporter}}</div> -->
                                <!-- <div>{{vm.raiseBy}}</div> -->
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Division</label>
                                <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="vm.division" name="division" placeholder="Division">
                                      </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Group Division</label>
                                <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="vm.groupDivision" name="groupDivision" placeholder="Group Division">
                                      </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Issue Descriptions</label>
                                <div class="col-sm-8">
                                    <textarea type="text" class="form-control has-error" rows="5" id="issuedesc" name="issuedesc" placeholder="Issue descriptions"
                                        value="{{issue_description}}" ng-model="vm.issueDescription" ng-required="true"></textarea>
                                    <span class="help-inline" style="color: red" ng-show="frmIssue.issuedesc.$invalid && frmIssue.issuedesc.$touched">Issue Description is required</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-11" ng-show="vm.stepTwo">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" style="padding-top: 0px">Select images</label>
                                <div class="col-sm-9">
                                    <input type="file" nv-file-select="" uploader="uploader" multiple />
                                    <br/>
                                    <div ng-show="uploader.isHTML5">
                                        <div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
                                            <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone">
                                                Drag and Drop Image in here.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-bottom: 40px">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="50%">Name</th>
                                            <th ng-show="uploader.isHTML5">Size</th>
                                            <th ng-show="uploader.isHTML5">Progress</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in uploader.queue">
                                            <td>
                                                <strong>{{ item.file.name }}</strong>
                                                <!-- Image preview -->
                                                <!--auto height-->
                                                <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                                <!--auto width-->
                                                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                                <!--fixed width and height -->
                                                <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                            </td>
                                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                            <td ng-show="uploader.isHTML5">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <span ng-show="item.isSuccess">
                                                    <i class="glyphicon glyphicon-ok"></i>
                                                </span>
                                                <span ng-show="item.isCancel">
                                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                                </span>
                                                <span ng-show="item.isError">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </span>
                                            </td>
                                            <td nowrap>
                                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                                </button>
                                                <!-- <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                                                    </button> -->
                                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove();deleteImage(item.file.name)">
                                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div>
                                    <div>
                                        Queue progress:
                                        <div class="progress" style="">
                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                        <span class="glyphicon glyphicon-upload"></span> Upload all
                                    </button>
                                    <!-- <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                                        </button> -->
                                    <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                        <span class="glyphicon glyphicon-trash"></span> Remove all
                                    </button>
                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="box-footer">
                        <a ng-show="vm.stepTwo" ng-click="vm.eventStepOne()" class="btn btn-default">
                            <i class="fa fa-angle-double-left"></i> Back</a>
                        <div ng-show="vm.stepOne">
                            <button ng-show="!vm.isEdit" ng-click="vm.save(frmIssue.$valid, frmIssue)" class="btn btn-primary pull-right">Save</button>
                            <button ng-show="vm.isEdit" ng-click="vm.update(frmIssue.$valid, frmIssue)" class="btn btn-primary pull-right">Update</button>
                        </div>
                        <a ng-show="vm.stepTwo" ui-sref="app.openissue" class="btn btn-primary pull-right">Finish</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <style>
            .full button span {
                background-color: limegreen;
                border-radius: 32px;
                color: black;
            }

            .partially button span {
                background-color: orange;
                border-radius: 32px;
                color: black;
            }

            .stepwizard-step p {
                margin-top: 10px;
            }

            .stepwizard-row {
                display: table-row;
            }

            .stepwizard {
                display: table;
                width: 50%;
                position: relative;
            }

            .stepwizard-step button[disabled] {
                opacity: 1 !important;
                filter: alpha(opacity=100) !important;
            }

            .stepwizard-row:before {
                top: 14px;
                bottom: 0;
                position: absolute;
                content: " ";
                width: 100%;
                height: 1px;
                background-color: #ccc;
                z-order: 0;
            }

            .stepwizard-step {
                display: table-cell;
                text-align: center;
                position: relative;
            }

            .btn-circle {
                width: 30px;
                height: 30px;
                text-align: center;
                padding: 6px 0;
                font-size: 12px;
                line-height: 1.428571429;
                border-radius: 15px;
            }
        </style>
</section>