<section class="content">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua">
          <i class="fa fa-plus-circle"></i>
        </span>
        <div class="info-box-content">
          <span class="info-box-text">Open Incident</span>
          <span class="info-box-number">5</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua">
          <i class="ion ion-ios-people-outline"></i>
        </span>
        <div class="info-box-content">
          <span class="info-box-text">Assigned</span>
          <span class="info-box-number">5</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-yellow">
            <i class="fa fa-file-text-o"></i>
          </span>
          <div class="info-box-content">
            <span class="info-box-text">Analyzing</span>
            <span class="info-box-number">3</span>
          </div>
        </div>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-yellow">
            <i class="fa fa-code"></i>
          </span>
          <div class="info-box-content">
            <span class="info-box-text">Fixing</span>
            <span class="info-box-number">17</span>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-yellow">
          <i class="ion ion-android-done-all"></i>
        </span>
        <div class="info-box-content">
          <span class="info-box-text">Testing</span>
          <span class="info-box-number">5</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-green">
            <i class="ion ion-ios-chatboxes-outline"></i>
          </span>
          <div class="info-box-content">
            <span class="info-box-text">In Confirmation</span>
            <span class="info-box-number">20</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-green">
            <i class="fa fa-book"></i>
          </span>
          <div class="info-box-content">
            <span class="info-box-text">Closed</span>
            <span class="info-box-number">700</span>
          </div>
        </div>
      </div>
  </div>
  <!-- <div class="row">
    
  </div> -->
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Monthly Recap Report</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
            <div class="btn-group" uib-dropdown is-open="status.isopen">
              <button id="single-button" type="button" class="btn btn-box-tool" uib-dropdown-toggle ng-disabled="disabled">
                <!-- Button dropdown <span class="caret"></span> -->
                <i class="fa fa-wrench"></i>
              </button>
              <!-- </button> -->
              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem">
                  <a href="#">Action</a>
                </li>
                <li role="menuitem">
                  <a href="#">Another action</a>
                </li>
                <li role="menuitem">
                  <a href="#">Something else here</a>
                </li>
                <li class="divider"></li>
                <li role="menuitem">
                  <a href="#">Separated link</a>
                </li>
              </ul>
            </div>
            <button type="button" class="btn btn-box-tool" data-widget="remove">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>

        <div class="box-body">
          <p class="text-center">
            <strong>Incident: 1 Jan 2017 - 31 Dec 2017</strong>
          </p>
          <div class="chart">
            <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series"
              chart-click="onClick" style="height: 250px;" chart-colours="colours">
            </canvas>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-md-12">
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Current Month Report</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <p class="text-center">
                <strong>Incident: 1 Des 2017 - 31 Des 2017</strong>
              </p>
              <div class="chart">
                <canvas id="area" class="chart chart-bar" chart-data="dataDaily" chart-labels="labelsDaily" chart-legend="false" chart-series="series"
                  chart-click="onClick" chart-colours="colours" style="height: 250px;">
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="col-md-12">
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Current Month Summary Root Cause</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-8">
              <p class="text-center">
                <strong>Incident in December 2017</strong>
              </p>
              <div class="col-md-6">
                <div class="chart-responsive">
                  <canvas id="doughnut" class="chart chart-doughnut" responsive=true chart-options="options" height="200" width="400" chart-data="dataPieCharts"
                    chart-labels="labelsPieCharts">
                  </canvas>
                </div>
              </div>
              <div class="col-md-4">
                <ul class="chart-legend clearfix">
                  <li>
                    <i class="fa fa-circle-o text-blue"></i> CR Side Impact</li>
                  <li>
                    <i class="fa fa-circle-o text-light-gray"></i> Data Migration Issue</li>
                  <li>
                    <i class="fa fa-circle-o text-red"></i> Deployment Issue</li>
                  <li>
                    <i class="fa fa-circle-o text-green aqua"></i> Design Issue</li>
                  <li>
                    <i class="fa fa-circle-o text-yellow"></i> Newly Used Function</li>
                  <li>
                    <i class="fa fa-circle-o text-gray"></i> Program Bugs</li>
                </ul>
              </div>

            </div>
          </div>
        </div> -->
        <!-- <div class="box-footer no-padding">
          <ul class="nav nav-pills nav-stacked">
            <li>
              <a>United States of America
                <span class="pull-right text-red">
                  <i class="fa fa-angle-down"></i> 12%</span>
              </a>
            </li>
            <li>
              <a>India
                <span class="pull-right text-green">
                  <i class="fa fa-angle-up"></i> 4%</span>
              </a>
            </li>
            <li>
              <a>China
                <span class="pull-right text-yellow">
                  <i class="fa fa-angle-left"></i> 0%</span>
              </a>
            </li>
          </ul>
        </div> -->
      <!-- </div>
    </div> -->
  </div>
</section>