<section class="content-header">
    <h1>{{vm.form_title}}
        <!-- <small>Module description here</small> -->
    </h1>
    <ol class="breadcrumb">
        <li>
            <a ui-sref="app.landing">
                <i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li>
            <a ui-sref="app.testing">Incident List</a>
        </li>
        <li class="active">{{vm.form_title}}</li>
    </ol>
</section>
<section class="content">

    <div class="row">
        <div class="col-sm-12 col-md-7">
            <form class="form-horizontal" name="frmIssue" novalidate>
                <div class="box box-primary">

                    <div class="box-header with-border">
                        <h3 class="box-title">{{vm.form_subTitle}}</h3>
                    </div>
                    <div class="box-body">
                        <div class="box box-info collapsed-box">
                            <div class="box-header with-border">
                                <h6 class="box-title">End User Info</h6>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Raised By</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="vm.raisedBy" name="raiseDate" placeholder="Raised By" ng-disabled="vm.detailIncidentDisable">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Raised Date</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="vm.raisedDate" name="raiseDate" placeholder="Raised Date" ng-disabled="vm.detailIncidentDisable">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Division</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="vm.division" name="division" placeholder="Division" ng-disabled="vm.detailIncidentDisable">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Group Division</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="vm.groupDivision" name="groupDivision" placeholder="Group Division" ng-disabled="vm.detailIncidentDisable">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Contact No</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="vm.contactNo" name="contactNo" placeholder="Contact No" ng-disabled="vm.detailIncidentDisable">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="box box-info collapsed-box">
                            <div class="box-header with-border">
                                <h6 class="box-title">Detail Incident</h6>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Priority</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="sel1" ng-model="vm.priority" ng-options="option.value as option.name for option in options"
                                            ng-disabled="vm.detailIncidentDisable" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Issue Descriptions</label>
                                    <div class="col-sm-8">
                                        <textarea type="text" class="form-control has-error" rows="5" id="issuedesc" name="issuedesc" placeholder="Issue descriptions"
                                            ng-model="vm.issueDescription" ng-disabled="vm.detailIncidentDisable"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Module</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="sel1" ng-model="vm.module" ng-options="option.value as option.name for option in optionsModul"
                                            ng-disabled="vm.detailIncidentDisable" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Sub Modul</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="sel1" ng-model="vm.subModule" ng-options="option.value as option.name for option in optionsSubModul"
                                            ng-disabled="vm.detailIncidentDisable" />
                                    </div>
                                </div>
                                <div class="form-group" ng-if="filesOpenIcident.length > 0">
                                    <label class="col-sm-3 control-label">File Attachment</label>
                                    <div class="col-sm-8" style="font-size: 14px; padding-top: 5px">
                                        <li ng-repeat="file_item in filesOpenIcident">
                                            <a href="{{file_item.fileUrl}}" target="_blank">{{file_item.fileName}}</a>
                                            <br/>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box box-warning collapsed-box">
                            <div class="box-header with-border">
                                <h6 class="box-title">Analyzing Result</h6>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Category Analysis</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="sel1" ng-model="vm.categoryAnalysis" ng-options="option.value as option.name for option in options"
                                            ng-disabled="vm.detailIncidentDisable" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Category Group</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="sel1" ng-model="vm.categoryGroup" ng-options="option.value as option.name for option in options"
                                            ng-disabled="vm.detailIncidentDisable" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Category Root Cause</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="sel1" ng-model="vm.categoryRootCause" ng-options="option.value as option.name for option in options"
                                            ng-disabled="vm.detailIncidentDisable" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Root Cause Modul</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="sel1" ng-model="vm.rootCauseModule" ng-options="option.value as option.name for option in options"
                                            ng-disabled="vm.detailIncidentDisable" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Root Cause Sub Modul</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="sel1" ng-model="vm.rootCauseSubModule" ng-options="option.value as option.name for option in options"
                                            ng-disabled="vm.detailIncidentDisable" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Function</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="vm.function" name="function" placeholder="Function" ng-disabled="vm.detailIncidentDisable">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Suspected Reason
                                        <br/>(Root Cause)</label>
                                    <div class="col-sm-8">
                                        <textarea type="text" class="form-control has-error" rows="5" id="suspectedReason" name="suspectedReason" placeholder="Suspected Reason"
                                            ng-model="vm.suspectedReason" ng-disabled="vm.detailIncidentDisable"></textarea>
                                        <span class="help-inline" style="color: red" ng-show="frmIssue.issuedesc.$invalid && frmIssue.issuedesc.$touched">Issue Description is required</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Recreate Step</label>
                                    <div class="col-sm-8">
                                        <textarea type="text" class="form-control has-error" rows="5" id="recreateStep" name="recreateStep" placeholder="Recreate Step"
                                            ng-model="vm.recreateStep" ng-disabled="vm.detailIncidentDisable"></textarea>
                                        <span class="help-inline" style="color: red" ng-show="frmIssue.issuedesc.$invalid && frmIssue.issuedesc.$touched">Issue Description is required</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Respon Taken</label>
                                    <div class="col-sm-8">
                                        <textarea type="text" class="form-control has-error" rows="5" id="responTaken" name="responTaken" placeholder="Respon Taken"
                                            ng-model="vm.responTaken" ng-disabled="vm.detailIncidentDisable"></textarea>
                                        <span class="help-inline" style="color: red" ng-show="frmIssue.issuedesc.$invalid && frmIssue.issuedesc.$touched">Issue Description is required</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Decide Solution</label>
                                    <div class="col-sm-8">
                                        <textarea type="text" class="form-control has-error" rows="5" id="decideSolution" name="decideSolution" placeholder="Decide Solution"
                                            ng-model="vm.decidedSolution" ng-disabled="vm.detailIncidentDisable"></textarea>
                                        <span class="help-inline" style="color: red" ng-show="frmIssue.issuedesc.$invalid && frmIssue.issuedesc.$touched">Issue Description is required</span>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="filesAnalyzing.length > 0">
                                    <label class="col-sm-4 control-label">Analyzing Files</label>
                                    <div class="col-sm-8" style="font-size: 14px; padding-top: 5px">
                                        <li ng-repeat="file_item in filesAnalyzing">
                                            <a href="{{file_item.fileUrl}}" target="_blank">{{file_item.fileName}}</a>
                                            <br/>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-warning collapsed-box">
                            <div class="box-header with-border">
                                <h6 class="box-title">Fixing Result</h6>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Fixing Note's</label>
                                    <div class="col-sm-8">
                                        <textarea type="text" class="form-control has-error" rows="5" id="issuedesc" name="issuedesc" placeholder="Fixing Note's"
                                            ng-model="vm.fixingNotes" ng-disabled="vm.detailIncidentDisable"></textarea>
                                        <span class="help-inline" style="color: red" ng-show="frmIssue.issuedesc.$invalid && frmIssue.issuedesc.$touched">Issue Description is required</span>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="filesFixing.length > 0">
                                        <label class="col-sm-4 control-label">Fixing Files</label>
                                        <div class="col-sm-8" style="font-size: 14px; padding-top: 5px">
                                            <li ng-repeat="file_item in filesFixing">
                                                <a href="{{file_item.fileUrl}}" target="_blank">{{file_item.fileName}}</a>
                                                <br/>
                                            </li>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-danger">
                    <div class="box-header"></div>
                    <!-- <h3 class="box-title">Fixing Incident</h3> -->

                    <div class="stepwizard col-md-offset-3 ">
                        <div class="stepwizard-row setup-panel">
                            <div class="stepwizard-step">
                                <a type="button" class="btn btn-primary btn-circle" ng-click="vm.eventStepOne()">1</a>
                            </div>
                            <div class="stepwizard-step">
                                <a type="button" ng-class="vm.classElemetStepTwo" ng-click="vm.eventStepTwo()">2</a>
                            </div>
                        </div>

                    </div>
                    <div class="box-header with-border"></div>
                    <div ng-show="vm.showAlert" class="box box-info">
                        <div ng-if="vm.alerts" class="box-header with-border">
                            <h3 class="box-title">Info Message</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>

                        <div ng-if="vm.alerts" class="box-body alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
                            <h4>{{alert.title}}</h4>
                            <p>{{alert.msg}}</p>
                        </div>

                    </div>
                    <div class="box-body">
                        <div ng-show="vm.stepOne">

                            <div class="panel panel-default">
                                <div class="panel-heading">Testing Task</div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Start Testing</label>
                                        <div class="col-sm-5">
                                            <p class="input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.startDate" is-open="popup2.opened"
                                                    datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats"
                                                />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open2()">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Finish Testing</label>
                                        <div class="col-sm-5">
                                            <p class="input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.finishDate" is-open="popup3.opened"
                                                    datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats"
                                                />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open3()">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Target Finish</label>
                                        <div class="col-sm-5">
                                            <p class="input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.targetDate" is-open="popup1.opened"
                                                    datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats"
                                                    ng-disabled="vm.detailIncidentDisable" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open1()" ng-disabled="vm.detailIncidentDisable">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Testing Note's</label>
                                        <div class="col-sm-8">
                                            <textarea type="text" class="form-control has-error" rows="5" id="issuedesc" name="issuedesc" placeholder="Testing Note's"
                                                ng-model="vm.testingNotes"></textarea>
                                            <span class="help-inline" style="color: red" ng-show="frmIssue.issuedesc.$invalid && frmIssue.issuedesc.$touched">Issue Description is required</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Test Scenario</label>
                                        <div class="col-sm-8">
                                            <textarea type="text" class="form-control has-error" rows="5" id="issuedesc" name="issuedesc" placeholder="Test Scenario"
                                                ng-model="vm.testScenario"></textarea>
                                            <span class="help-inline" style="color: red" ng-show="frmIssue.issuedesc.$invalid && frmIssue.issuedesc.$touched">Issue Description is required</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div ng-show="vm.stepTwo">
                            <div class="panel panel-default">
                                <div class="panel-heading">Upload File Testing</div>
                                <div class="panel-body">
                                    <div class="form-group" ng-if="filesTesting.length > 0">
                                        <label class="col-sm-3 control-label">Testing Files</label>
                                        <div class="col-sm-8" style="font-size: 14px; padding-top: 5px">
                                            <li ng-repeat="file_item in filesTesting">
                                                <a href="{{file_item.fileUrl}}" target="_blank">{{file_item.fileName}}</a>
                                                <br/>
                                            </li>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" style="padding-top: 0px">Select images</label>
                                        <div class="col-sm-9">
                                            <input type="file" nv-file-select="" uploader="uploader" multiple />
                                            <br/>
                                            <div ng-show="uploader.isHTML5">
                                                <div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
                                                    <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone">
                                                        Drag and Drop Image in here.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="margin-bottom: 40px">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th width="50%">Name</th>
                                                    <th ng-show="uploader.isHTML5">Size</th>
                                                    <th ng-show="uploader.isHTML5">Progress</th>
                                                    <th>Status</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in uploader.queue">
                                                    <td>
                                                        <strong>{{ item.file.name }}</strong>
                                                        <!-- Image preview -->
                                                        <!--auto height-->
                                                        <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                                        <!--auto width-->
                                                        <div ng-show="vm.filterImage(item.file.name)">
                                                            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                                        </div>
                                                        <!--fixed width and height -->
                                                        <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                                    </td>
                                                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                    <td ng-show="uploader.isHTML5">
                                                        <div class="progress" style="margin-bottom: 0;">
                                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <span ng-show="item.isSuccess">
                                                            <i class="glyphicon glyphicon-ok"></i>
                                                        </span>
                                                        <span ng-show="item.isCancel">
                                                            <i class="glyphicon glyphicon-ban-circle"></i>
                                                        </span>
                                                        <span ng-show="item.isError">
                                                            <i class="glyphicon glyphicon-remove"></i>
                                                        </span>
                                                    </td>
                                                    <td nowrap>
                                                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                            <span class="fa fa-upload"></span> Upload
                                                        </button>
                                                        <!-- <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                                                                </button> -->
                                                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove();deleteImage(item.file.name)">
                                                            <span class="fa fa-trash-o"></span> Remove
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div>
                                            <div>
                                                Queue progress:
                                                <div class="progress" style="">
                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                                </div>
                                            </div> 
                                            <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                                <span class="fa fa-upload"></span> Upload all
                                            </button>
                                            <!-- <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                                                    </button> -->
                                            <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                                <span class="fa fa-trash-o"></span> Remove all
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box-footer">
                            <!-- <a ng-show="vm.stepTwo" ng-click="vm.eventStepOne()" class="btn btn-default">
                            <i class="fa fa-angle-double-left"></i> Back</a>
                        <a ng-show="vm.stepThree" ng-click="vm.eventStepTwo()" class="btn btn-default">
                            <i class="fa fa-angle-double-left"></i> Back</a>
                        <a ng-show="vm.stepFour" ng-click="vm.eventStepThree()" class="btn btn-default">
                            <i class="fa fa-angle-double-left"></i> Back</a> -->

                            <!-- <button ng-show="vm.stepOne" ng-click="vm.eventStepTwo()" class="btn btn-primary pull-right">Next</button> -->
                            <!-- <button ng-show="vm.stepTwo" ng-click="vm.eventStepThree()" class="btn btn-primary pull-right">Next</button> -->
                            <button ng-show="vm.stepOne" ng-click="vm.update(frmIssue.$valid, frmIssue)" class="btn btn-primary pull-right">Save</button>
                            <a ng-show="vm.stepTwo" ui-sref="app.testing" class="btn btn-primary pull-right">Finish Task</a>
                        </div>

                    </div>
            </form>
            </div>
        </div>

        <div>
            <style>
                .full button span {
                    background-color: limegreen;
                    border-radius: 32px;
                    color: black;
                }

                .partially button span {
                    background-color: orange;
                    border-radius: 32px;
                    color: black;
                }

                .stepwizard-step p {
                    margin-top: 10px;
                }

                .stepwizard-row {
                    display: table-row;
                }

                .stepwizard {
                    display: table;
                    width: 50%;
                    position: relative;
                }

                .stepwizard-step button[disabled] {
                    opacity: 1 !important;
                    filter: alpha(opacity=100) !important;
                }

                .stepwizard-row:before {
                    top: 14px;
                    bottom: 0;
                    position: absolute;
                    content: " ";
                    width: 100%;
                    height: 1px;
                    background-color: #ccc;
                    z-order: 0;
                }

                .stepwizard-step {
                    display: table-cell;
                    text-align: center;
                    position: relative;
                }

                .btn-circle {
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    padding: 6px 0;
                    font-size: 12px;
                    line-height: 1.428571429;
                    border-radius: 15px;
                }
            </style>
</section>